body {
    background-color: black;
}

.container {
    background-color: black;
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgb(55, 48, 48);
    padding: 50px;
    border-radius: 5px;
}

input {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 100%;
}

.form1 {
    display: flex;
}

.form1 label {
    display: inline-block;
    width: 100%;
}

#submit,
#cancel {
    background-color: rgb(162, 206, 97);
    border-radius: 10px;
    cursor: pointer;
}
#cancel {
    background-color: rgb(221, 101, 101);
}
